html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

.page-content {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
}

.admin-area-2 label {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  min-width: 38px;
  display: inline-block;
  margin-right: 4px;
}

#field-search {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

.mdl-layout__drawer .mdl-button {
    font-size: 13px;
}

.pac-container {
  font-family: Roboto;
}

.infowindow {
  font-family: Roboto;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

#place-search {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  width: 400px;
  font-family: Roboto;
  text-overflow: ellipsis;
  margin: 0 8px;
  padding: 0 8px;    
}
#field-search:focus {
  border-color: #4d90fe;
  width: 401px;
}
#directions-panel-wrapper {
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 400px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding: 5px 11px;  
  display: none;    
}
.directions-panel-link{
  height: 12px;
}
#directions-panel-switch{
  float: right;
  margin-right: 11px;    
}
.gm-style-iw h2 {
    background-image: url('soccer.png');
    background-repeat: no-repeat;
    background-position: 0 -14px;
    padding: 0 0 0 32px;
    color: #D76200;
    margin:0;
    font-family: Roboto;
    font-size: 20px;
    line-height: 28px;
}
.gm-style .gm-style-iw p {
  margin: 0;
}
.ui-autocomplete {
  height: 500px;
  overflow-y: scroll;    
}
.ui-autocomplete > li {
    font-family: Roboto;
    font-size: 13px;
}
.btright{
  font-size: 16px;
}

@media only screen and (max-device-width: 960px) {
   .ui-autocomplete {    
     height: 40%;  
   }
    
   .gm-style-iw h2 {
       margin: 0;
       font-size: 18px;
   }  
    
   #place-search {
       margin: 2px 0;
       width: 77%;
   }  
    
   #directions-panel-wrapper {
       margin-top: 39px;
       width: 360px;
   }    
}
